.collapse {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-left: -250px;
}

.navbar-collapse {
  margin-left: 0px;
  transition: left 0.5s ease;
  z-index: 1000;
  position: fixed;
  width: 250px;
  height: 100%;
  overflow-y: auto;

  background-color: red;
  // left: 250px;
  // left: 0px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar-collapse.show + div#page-content-wrapper {
  position: absolute;
  padding-left: 250px;
}

#page-content-wrapper {
  background-color: green;
  height: 100%;
}

.tab-links {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  margin: 0;

  a {
    display: inline-block;
    padding: 10px;
    color: #000000;
    text-decoration: none;

    .fa {
      display: block;
    }
  }

  ul.nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
  }
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
}
