nav.navbar {
  position: absolute;
  width: 100%;
  z-index: 50;

  &.home_absolute_nav {
    background-color: transparent;

    .navbar-brand {
      z-index: 51;
      padding: 0;
      margin: 0;
      margin-top: 43px;
      text-align: center;
      line-height: auto;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #16a4c3;

      img {
        width: 75%;
      }
    }
  }
}

.navbar-dark {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }

  i.fa-search {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
}

.navbar-light {
  .fa-search,
  .navbar-brand {
    color: #16a4c3;
  }
}

// .collapse {
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   margin-left: -250px;
// }

// .navbar-collapse {
//   margin-left: 0px;
//   transition: left 0.5s ease;
//   z-index: 1000;
//   position: fixed;
//   width: 250px;
//   height: 100%;
//   overflow-y: auto;

//   background-color: red;
//   // left: 250px;
//   // left: 0px;
// }

// #page-content-wrapper {
//   width: 100%;
//   position: absolute;
//   padding-left: 0;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;

//   // nav.navbar {
//   //   position: absolute;
//   //   width: 100%;
//   // }
// }

// .navbar-collapse.show + div#page-content-wrapper {
//   position: absolute;
//   padding-left: 250px;
// }

// #page-content-wrapper {
//   background-color: green;
//   height: 100%;
// }

// .tab-links {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   background-color: #ffffff;
//   margin: 0;

//   a {
//     display: inline-block;
//     padding: 10px;
//     color: #000000;
//     text-decoration: none;

//     .fa {
//       display: block;
//     }
//   }

//   ul.nav {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     background-color: #ffffff;
//   }
// }

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
}
