.amenity-detail {
  height: 100%;
  padding-bottom: 72px;
  overflow-y: scroll;

  .amenity_header_wrapper {
    background-color: #16a4c3;
    color: #ffffff;
    text-align: center;
    padding: 20px;

    .amenity_title {
      h4 {
        color: #ffffff;
        padding: 10px;
      }

      .social_icons_wrapper {
        a {
          color: #ffffff;
          margin-left: 10px;
          margin-right: 10px;

          i {
            font-size: 29px;
            border: 1px solid #ffffff;
            padding: 8px;
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .text-description {
    padding: 20px;
  }
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
}
