.js-offcanvas {
  position: relative;
  border: none;
}

.collapse {
  border: 1px solid red;
  background-color: green;
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
}
