.home_page {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel {
    img {
      height: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
      height: 90%;
    }
  }
}

.amenity-detail,
.preferred-detail,
.expo-detail-list-item {
  .carousel-item {
    height: 0;
    padding: 0;
    padding-bottom: 75%;
  }
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
  .amenity-detail,
  .preferred-detail,
  .expo-detail-list-item {
    .carousel-item {
      height: 0;
      padding: 0;
      padding-bottom: 50%;
    }
  }
}
