.home_page {
  .carousel,
  .carousel-inner,
  .carousel-item {
    height: 100%;
  }

  .carousel {
    img {
      height: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
      height: 90%;
    }
  }
}

@media (min-width: 30em) {
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
}
