.search {
  .header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    i {
      position: absolute;
      right: 4px;
      top: -7px;
      cursor: pointer;
    }
  }

  .form {
    background-color: #ecf0f1;
    padding: 10px;
    input {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      border: honeydew;
      outline: none;
    }

    #PlacesAutocomplete__autocomplete-container {
      z-index: 10;
      border: 1px solid #e3e3e3 !important;
      margin-top: 10px;
      & > div {
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }

  .row {
    border: 1px solid #e3e3e3;
  }

  .hotel_search_results {
    z-index: 2;
    padding-top: 20px;

    .row {
      padding: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }

      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.7em;
      }

      .img_wrapper {
        width: 95%;
        height: 100%;

        img {
          max-width: 100%;
          //   width: 100%;
          height: auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (min-width: 30em) {
  .hotel_search_results {
    .row {
      height: 160px;
    }
  }
}

@media (min-width: 48em) {
  .search {
    .hotel_search_results {
      .row {
        h3 {
          font-size: 1em;
        }

        p {
          font-size: 0.9em;
        }
      }
    }
  }
}

@media (min-width: 62em) {
}
