.preferred {
  height: 100%;
  padding-bottom: 72px;
  overflow-y: scroll;

  .card {
    border-radius: 0;
  }

  .image_wrapper {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .card-body {
    h5 {
      font-size: 1em;
      color: #20a6c4;
    }
    p {
      font-size: 0.82em;
    }
  }
}

@media (min-width: 30em) {
}

@media (min-width: 39em) {
  .preferred {
    .card {
      padding: 20px;
    }
  }
}

@media (min-width: 48em) {
}

@media (min-width: 62em) {
  .preferred {
    .card-body {
      h5 {
        font-size: 1.6em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
